<!DOCTYPE html>
<html>
<head>
  <title>Page</title>
  <style>
    body {
      background-color: skyblue;
    }
  </style>
</head>
<body> 
    </div>
    <div class="col-lg-7">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Help me with....">
        <span class="input-group-btn">
          <a href="/chat" class="btn btn-primary" >Go chat!</a>
        </span>
      </div>
    </div>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</body>
</html>