<!DOCTYPE html>
<html>
<head>
  <title>Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <style>
    body {
      background-color: skyblue;
      margin-left: 10px;
    }
    .input-group {
      margin: 20px;
    }
  </style>
</head>
<body> 
<h1>Post a problem or enter the chat to help someone out!</h1>
    </div>
    <div class="col-lg-12">
      <div class="input-group">
        <form method="post">
          <input type="text" name="username" placeholder="username">
          <input type="text" name="postTitle" placeholder="post title">
          <input type="text" name="category" placeholder="category">
          <input type="date" name="date" placeholder="date">
          <input type="url" name="picture" placeholder="url">
          <input type="submit" value="Submit Request">
        </form>        
        <span class="input-group-btn-danger">
          <a href="/chat" class="btn btn-primary" >Go chat!</a>
        </span>
      </div>
    </div>
    <h2>Posts</h2>
    <ul>
    <% problem.forEach(function(problem) { %>
    <li><h3><%=problem.postTitle%> (<%=problem.category%>) </h3> 
    <img src="<%=problem.picture%>" style="max-height: 200px; max-width: 200px;" ></li>
    <% }); %>
  </ul>
    <script src="problem.js"></script>
    <script src="index.js"></script>
</body>
</html>