<!DOCTYPE html>
<html>
<head>
  <title>Page</title>
  <style>
    body {
      background-color: skyblue;
    }
  </style>
</head>
<body> 
  <h1>P2P help</h1>
  <a href="/chat">Chat</a>
</body>
</html>